.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--panel-bg-color);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--shadow-color);
    max-width: 80%;
    width: auto;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;
}

.modal-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.modal-buttons button:first-child {
    background-color: var(--primary-color);
    color: white;
}

.modal-buttons button:not(:first-child):not(:last-child) {
    background-color: var(--accent-color);
    color: white;
}

.modal-buttons button:last-child {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.modal-buttons button:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
}

.modal-buttons button:active {
    transform: translateY(1px);
}

.close-button {
    background-color: var(--secondary-color) !important;
}

.close-button:hover {
    background-color: var(--button-hover-color) !important;
}