
.add-new-item {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: left;
}

.add-new-item .legend-color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: bold;
    color: white;
}

.add-new-item .legend-name {
    font-size: 14px;
}

.edit-legend-item h2 {
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--text-color);
}

.edit-legend-item input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    color: var(--text-color);
}

.edit-legend-item input:focus {
    outline: none;
    border-color: var(--input-focus-color);
}

.color-picker {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;
}

.color-picker label {
    margin-right: 10px;
}


.color-picker input {
    margin-top: 15px;
    width: 90%;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    color: var(--text-color);
}

.color-preview {
    margin-left: 10px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}